@charset "UTF-8";
/* --------------------------------
 * base
 * -------------------------------- */
html {
	font-size: 62.5%;
}
body {
	background: #151515 url('../images/bg3.jpg') no-repeat fixed left bottom;
	background-size: cover;
	color: #fff;
	text-align: center;
	font-size: 1.4rem;
	font-family: Raleway, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
*, *::before, *::after {
	box-sizing: border-box;
}
/* --------------------------------
 * parts
 * -------------------------------- */
.heading {
	position: relative;
	/* display: inline-block; */
	margin: 30px 0;
	/* padding-bottom: 15px; */
	letter-spacing: 2px;
	font-size: 4rem;
}
.heading-sub {
	position: relative;
	/* display: inline-block; */
	margin: 10px 0;
	letter-spacing: 2px;
	font-size: 1.8rem;
}

/*
.heading::before,
.heading::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #999;
}
.heading::before {
  bottom: 5px;
}
*/
.button {
	display: inline-block;
	width: 200px;
	padding: 13px;
	border-radius: 4px;
	/*background-color: #afa58d;*/
	background-color: #333;
	color: #fff;
	text-decoration: none;
	letter-spacing: 1px;
	font-size: 1.2rem;
	opacity: 0.9;
}
.button:hover {
	opacity: 0.7;
}
.button-showy {
	background-color: #D29E04;
}
.button-ghost {
	border: 1px solid #fff;
	background-color: rgba(255, 255, 255, 0.15);
}
.twitter_icon {
	background-image: url("../icon.png");
	width: 240px;       /* ※縦横を同値に */
	height: 240px;       /* ※縦横を同値に */
	border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
	background-position: center center;  /* 横長画像の左上を基準に表示 */
	display: inline-block;          /* 複数の画像を横に並べたい場合 */
	background-size: contain;
}
.twitter_icon a {
	display: block;
	width: 100%;
	height: 100%;
}
.hr {
	display: inline-block;
	margin: 0, auto;
	border: 2px solid #888;
	width: 50px;
}
.publish-img{
	display: block;
	overflow: hidden;
	margin: 50px auto;
	height: auto;
	width: auto;
	box-shadow: 0 10px 25px 0 rgba(51, 51, 51, 0.5);
	width: 100%;
	max-width: 600px;
	max-width: 600px;
}
.booth-logo{
	display: block;
	margin: 20px auto;
	width: 80px;
}

/* --------------------------------
 * header
 * -------------------------------- */
.header {
	padding: 170px 30px 80px;
}
.site-title-sub {
	margin: 0 0 30px;
	letter-spacing: 1px;
	font-size: 2.0rem;
}
/* .site-title-sub::before, .site-title-sub::after {
	content: '';
	display: inline-block;
	width: 100px;
	height: 2px;
	margin: 0 30px;
	background-color: #fff;
	vertical-align: middle;
} */
.site-title {
	margin: 50px 0 40px;
	font-size: 5.0rem;
}
.site-description {
	margin-bottom: 50px;
	font-size: 2rem;
}
.buttons .button {
	margin: 10px;
}
/* --------------------------------
 * about
 * -------------------------------- */
.about {
	padding: 80px 30px;
	background-color: #fff;
	color: #333
}

.about-name {
	font-size: 2.4rem;
	margin-bottom: 10px;
}
.about-abst {
	display: block;
	font-size: 1.6rem;
	padding: 50px, auto;
}
.about-text {
	margin: 10px auto;
	width: 100%;
	max-width: 600px;
	line-height: 3.5rem;
	font-size: 1.3rem;
}
.about-text-wrapper {
	display: block;
	margin: 30px auto;
}

/* --------------------------------
 * about-links
 * -------------------------------- */
 .about-links {
	display: table;
	table-layout: fixed;
	width: 200px;
	padding: 0 auto 10px;
	margin: 0 auto 10px;
	background-color: #fff;
	color: #333;
}
.about-links-wrapper {
	display: table;
	width: 80%;
	margin: auto;
	table-layout: fixed;
}
.about-link-box {
	display: table-cell;
}
.about-link-icon {
	width: 30px;
	height: 30px;
	padding: 0;
	margin-bottom: 0px;
	border: 2px solid;
	border-radius: 50%;
	color: #333;
	font-size: 1.8rem;
	line-height: 26px;
	text-align: center;
}
.about-link-icon:hover {
	color: #fff;
	background-color: #333;
}
/* --------------------------------
 * profile
 * -------------------------------- */
.profile {
	padding: 80px 30px;
	background-color: #383634;
	color: #fff
}
.profile-text {
	margin: 10px auto;
	line-height: 3.5rem;
	font-size: 1.3rem;
}
.profile-text-wrapper {
	margin: 30px auto;
}


/* --------------------------------
 * works
 * -------------------------------- */
.works {
	padding: 80px 0;
	background-color: #383634;
}
.works-wrapper {
	display: table;
	width: 100%;
	margin-top: 60px;
	table-layout: fixed;
}
.work-box {
	position: relative;
	display: table-cell;
}
.work-image {
	display: block;
	width: 100%;
	margin: 0 0 60%;
}
.work-description {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 50%;
	overflow-y: auto;
}
.work-description-inner {
	display: table;
	width: 100%;
	height: 100%;
	padding: 20px;
}
.work-text {
	display: table-cell;
	vertical-align: middle;
	font-size: 1.2rem;
	line-height: 2;
}
.work-text .button {
	width: 60%;
	margin-top: 20px;
	padding: 3px;
}
.work-box::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 50%;
	background: no-repeat;
	background-size: 100% 100%;
	opacity: 0.2;
	transform: scaleY(-1);
}
.work-box.poster::after {
	background-image: url('../images/poster_cut.png');
}
.work-box.summerLight::after {
	background-image: url('../images/summerLight.jpg');
}
.work-box.Fremdes::after {
	background-image: url('../images/Fremdes.jpg');
}
.work-box.nyan::after {
	background-image: url('../images/nyan.jpg');
}
.work-box.pallete::after {
	background-image: url('../images/palette.jpg');
}
.work-box:nth-child(odd) .work-image {
	margin: 60% 0 0;
}
.work-box:nth-child(odd) .work-description, .work-box:nth-child(odd)::after {
	top: 0;
}


/* --------------------------------
 * links
 * -------------------------------- */
.links {
	padding: 80px 0;
	background-color: #fff;
	color: #333;
}
.links-wrapper {
	display: table;
	width: 80%;
	margin: 50px auto 0;
	table-layout: fixed;
}
.link-box {
	display: table-cell;
}
.link-icon {
	width: 100px;
	height: 100px;
	padding: 0;
	margin-bottom: 30px;
	border: 4px solid;
	border-radius: 50%;
	color: #333;
	font-size: 5rem;
	line-height: 92px;
	text-align: center;
}
.link-icon:hover {
	color: #fff;
	background-color: #333;
}
.link-title {
	margin: 0 20px 20px;
	font-size: 2rem;
}
.link-text {
	margin: 0 20px;
	line-height: 2;
}
/* --------------------------------
 * contact
 * -------------------------------- */
.contact {
	padding: 80px 0 150px;
}
.contact-form {
	width: 50%;
	margin: 50px auto 0;
}
.contact-form input[type=text], .contact-form textarea {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	padding: 15px;
	outline: none;
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-radius: 0;
	background-color: rgba(255, 255, 255, 0.05);
	color: #fff;
}
.contact-form input[type=text]:focus, .contact-form textarea:focus {
	box-shadow: 0 0 8px rgba(255, 255, 255, 0.5) inset;
}
.contact-form textarea {
	height: 150px;
}
.contact-form input[type=submit] {
	display: block;
	width: 200px;
	margin: 40px auto 0;
	padding: 15px;
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-radius: 5px;
	background-color: transparent;
	color: rgba(255, 255, 255, 0.6);
	cursor: pointer;
}
.contact-form input[type=submit]:hover {
	background-color: rgba(255, 255, 255, 0.05);
}
.contact-icon {
	width: 100px;
	height: 100px;
	padding: 0;
	margin-bottom: 30px;
	border: 4px solid;
	border-radius: 50%;
	color: #fff;
	font-size: 5rem;
	line-height: 92px;
	text-align: center;
}
.contact-icon:hover {
	background-color: #55acee;
}
.contact-title {
	margin: 0 20px 20px;
	font-size: 2.5rem;
}
/* --------------------------------
 * footer
 * -------------------------------- */
.footer {
	padding: 12px 0;
	font-size: 1.3rem;
}

/* --------------------------------
 * smart phone
 * -------------------------------- */
@media (max-width: 1024px) {
body {
	background-image: none;
}
}

@media (max-width: 768px) {
body {
	font-size: 1.3rem;
}
.heading {
	margin-top: 20px;
	font-size: 2.5rem;
}
.button:hover {
	opacity: 1;
}
/* --- header --- */
.header {
	padding-top: 60px;
}
.site-title-sub {
	font-size: 1.7rem;
}
.site-title-sub::before,  .site-title-sub::after {
	display: block;
	width: 80%;
	margin: 10px auto;
}
.site-title {
	margin-top: 35px;
	font-size: 4rem;
}
/* --- about --- */
.about-text {
	line-height: 1.8;
}
/* --- works --- */
.works-wrapper,  .work-box {
	display: block;
}
.work-image {
	display: none;
}
.work-description {
	position: relative;
}
.work-box::after {
	top: 0;
	height: 100%;
	background-size: cover;
	transform: none;
}
/* --- links --- */
.link-wrapper,  .link-box {
	display: block;
}
.link-box {
	margin: 40px auto;
}
.link-icon {
	width: 100px;
	height: 100px;
	font-size: 5rem;
	line-height: 92px;
}
.link-text {
	margin: 0;
}
/* --- contact --- */
.contact {
	padding-bottom: 80px;
}
.contact-form {
	width: 80%;
}
.contact-icon {
	width: 100px;
	height: 100px;
	font-size: 5rem;
	line-height: 92px;
}
}
.heading::before, .heading::after, .heading-sub::before, .heading-sub::after  {
	content: '';
	display: inline-block;
	width: 0.3em;
	height: 0.3em;
	margin: 0 0.5em;
	border: 1px solid;
	vertical-align: 0.2em;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.work-box {
	overflow: hidden;
}
.work-image {
	transition: -webkit-transform 0.5s ease-in-out;
	transition: transform 0.5s ease-in-out;
}
.work-box:nth-child(odd) .work-image {
	-webkit-transform-origin: top center;
	transform-origin: top center;
}
.work-box:nth-child(even) .work-image {
	-webkit-transform-origin: bottom center;
	transform-origin: bottom center;
}
.work-box:hover .work-image {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
